@{
    ViewData["Title"] = "Menu Inicial";
}

<div class="text-center" style="background-image: url('caminho/para/sua/imagem.jpg'); background-size: cover;">
    <h1 style="text-align:center; margin-top:50px; color:#ffd800; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 5em; bottom-50;">
        Bem Vindos!
    </h1>
    <p class="link-warning">O mundo se abre para aqueles que são nobres de coração.</a></p>
    <img src="https://cdn.donmai.us/sample/35/8f/__black_swan_and_acheron_honkai_and_1_more_drawn_by_oastlv__sample-358f9eeb5ec0a818edce0b2cb2313e31.jpg" style="margin-bottom: 8em;" />

</div>
