@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="TextP">
    <p class="text-center">Todos os seus dados estão reservados e seguros!.</p>
</div>

